<html lang="en">
  {{!-- HEADER --}}

  {{>header}}
  
  <body>

    {{>navbar}}
    
    {{!-- BODY --}}
    <div class="container">
    {{{body}}}
    </div>

    {{!-- FOOTER --}}

    {{>footer}}
  </body>
</html>
